In [1]:
import pandas as pd

In [6]:
pd.read_csv('model_data.csv').head()

                             Model Current Price
0  HyundaiElitei20Sportz(O)1.4CRDi  Rs.7.69 Lakh
1       MarutiErtigaZXISMARTHYBRID  Rs.9.27 Lakh
2            MarutiVitaraBrezzaLDI   Rs.7,62,742
3     FordEcosport1.5TITANIUMTIVCT  Rs.7.64 Lakh
4       HyundaiVernaFLUIDIC1.4CRDI   Rs.9,99,900